@function imgCoord($l, $x) {

	$out: 0;

	@if $l > 1 {

		$out: ((1 / ($l - 1)) * $x) * 100%;
	}

	@return $out;
}

@mixin bgIconCoord($item, $col, $row) {

	$len: ($col * $row);
	$y: 0;

	background-size: ($col * 100%) auto;
	@for $i from 1 through $len {
		$x: ($i - 1) % $col;
		@if ($i - 1) > 0 and $x == 0 {
			$y: $y + 1;
		}
		@if ($item == $i){
			background-position: imgCoord($col, $x) imgCoord($row, $y);
		}
	}
}
